.error-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-container a {
    border-radius: 5px;
    background-color: #554994;
    padding: 10px 15px;
    border: 1px solid #554994;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.error-container div {
    width: 40rem;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-top: .5rem;
    font-size: 26pt;
    text-align: center;
}